.body {
background-image: url("../../Imagens/Cenários/main_screen.png");
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image horizontally and vertically */
  background-size: cover; /* Scale the image to cover the entire background area while maintaining aspect ratio */
}

.new_game {
    height: 90px;
    width: 300px;
    background-image: url("../../Imagens/Texturas/dark_wood.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
}

.continue_game {
    height: 90px;
    width: 300px;
    background-image: url("../../Imagens/Texturas/dark_wood.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
}

.start_buttons {
    margin-top: 68vh;
    display: flex;
    justify-content: center;
    gap: 300px;
    
}